/*------ inizio esercizi ------*/
.ex-1-square:hover {
    transition: background-color 3s;
    background-color: red;
}

.ex-2-square:active {
    transition: width 3s;
    width: 80%;
}

.ex-3-square:hover {
    transition: border-radius 3s;
    border-radius: 50%;
}

.ex-4-square:hover {
    transition: opacity 3s;
    opacity: 0;
}

.ex-5-square:hover {
    transition: width 3s, height 3s;
    height: 100px;
    width: 100px;
}
.ex-5-square:active {
    transition: width 3s, height 3s;
    height: 30px;
    width: 30px;
}

.ex-6-img:hover {
    transition: 1s;
    filter: grayscale(100%);
}

.ex-7-img:hover {
    transition: 3s;
    filter: opacity(60%) sepia(100%);
}

.ex-8-img:hover {
    transition: 3s;
    filter: blur(5px) saturate(75%);
    border-radius: 50%;
}

.ex-9-img:hover {
    transition: 3s;
    filter: brightness(80%) saturate(60%);
    border-radius: 50%;
    width: 600px;
}

.ex-10-icon {
    animation: spin 3s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ex-11-icon:hover {
    animation: spin75 3s linear;
}
@keyframes spin75 {
    0% { transform: rotate(0deg); }
    75% { transform: rotate(270deg);}
    100% { transform: rotate(0deg); }
}

/*------ inizio esercizi bonus ------*/
.ex-12-button:hover .ex-12-top-white {
    animation: translatetopborder12 3s linear infinite;
}
@keyframes translatetopborder12 {
    0% { transform: translate(0%); }
    50% { transform: translate(100%); }
    100% { transform: translate(0%); }
}
.ex-12-button:hover .ex-12-bottom-white {
    animation: translatebottomborder12 3s linear infinite;
}
@keyframes translatebottomborder12 {
    0% { transform: translate(0%); }
    50% { transform: translate(-100%); }
    100% { transform: translate(0%); }
}

